# **Lab: ML Engineering**

## Exercise 2: EDA and Baseline Model

In this exercise we will start our data science project by preparing the dataset for modeling

**Pre-requisites:**
- Create a github account (https://github.com/join)
- Install git (https://git-scm.com/book/en/v2/Getting-Started-Installing-Git)
- Install pyenv (https://realpython.com/lessons/installing-pyenv/)
- Install poetry (https://python-poetry.org/docs/#installation)
- Install Wget for Windows users (https://eternallybored.org/misc/wget/)

The steps are:
1.   Setup Environment
2.   Load and explore dataset
3.   Prepare Data
4.   Split Dataset
5.   Get Baseline model
6.   Push changes

## 1. Setup Environment

 Launch Jupyter Lab from your virtual environment

In [206]:
#Solution:
!pip install poetry

Requirement already satisfied: poetry in /usr/local/lib/python3.10/dist-packages (1.5.1)
Requirement already satisfied: build<0.11.0,>=0.10.0 in /usr/local/lib/python3.10/dist-packages (from poetry) (0.10.0)
Requirement already satisfied: cachecontrol[filecache]<0.13.0,>=0.12.9 in /usr/local/lib/python3.10/dist-packages (from poetry) (0.12.14)
Requirement already satisfied: cleo<3.0.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from poetry) (2.0.1)
Requirement already satisfied: crashtest<0.5.0,>=0.4.1 in /usr/local/lib/python3.10/dist-packages (from poetry) (0.4.1)
Requirement already satisfied: dulwich<0.22.0,>=0.21.2 in /usr/local/lib/python3.10/dist-packages (from poetry) (0.21.5)
Requirement already satisfied: filelock<4.0.0,>=3.8.0 in /usr/local/lib/python3.10/dist-packages (from poetry) (3.12.2)
Requirement already satisfied: html5lib<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from poetry) (1.1)
Requirement already satisfied: installer<0.8.0,>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from poetry) (0.7.0)
Requirement already satisfied: jsonschema<5.0.0,>=4.10.0 in /usr/local/lib/python3.10/dist-packages (from poetry) (4.19.0)
Requirement already satisfied: keyring<24.0.0,>=23.9.0 in /usr/local/lib/python3.10/dist-packages (from poetry) (23.13.1)
Requirement already satisfied: lockfile<0.13.0,>=0.12.2 in /usr/local/lib/python3.10/dist-packages (from poetry) (0.12.2)
Requirement already satisfied: packaging>=20.4 in /usr/local/lib/python3.10/dist-packages (from poetry) (23.1)
Requirement already satisfied: pexpect<5.0.0,>=4.7.0 in /usr/local/lib/python3.10/dist-packages (from poetry) (4.8.0)
Requirement already satisfied: pkginfo<2.0.0,>=1.9.4 in /usr/local/lib/python3.10/dist-packages (from poetry) (1.9.6)
Requirement already satisfied: platformdirs<4.0.0,>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from poetry) (3.10.0)
Requirement already satisfied: poetry-core==1.6.1 in /usr/local/lib/python3.10/dist-packages (from poetry) (1.6.1)
Requirement already satisfied: poetry-plugin-export<2.0.0,>=1.4.0 in /usr/local/lib/python3.10/dist-packages (from poetry) (1.4.0)
Requirement already satisfied: pyproject-hooks<2.0.0,>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from poetry) (1.0.0)
Requirement already satisfied: requests<3.0,>=2.18 in /usr/local/lib/python3.10/dist-packages (from poetry) (2.31.0)
Requirement already satisfied: requests-toolbelt<2,>=0.9.1 in /usr/local/lib/python3.10/dist-packages (from poetry) (1.0.0)
Requirement already satisfied: shellingham<2.0,>=1.5 in /usr/local/lib/python3.10/dist-packages (from poetry) (1.5.3)
Requirement already satisfied: tomli<3.0.0,>=2.0.1 in /usr/local/lib/python3.10/dist-packages (from poetry) (2.0.1)
Requirement already satisfied: tomlkit<1.0.0,>=0.11.4 in /usr/local/lib/python3.10/dist-packages (from poetry) (0.12.1)
Requirement already satisfied: trove-classifiers>=2022.5.19 in /usr/local/lib/python3.10/dist-packages (from poetry) (2023.8.7)
Requirement already satisfied: urllib3<2.0.0,>=1.26.0 in /usr/local/lib/python3.10/dist-packages (from poetry) (1.26.16)
Requirement already satisfied: virtualenv<21.0.0,>=20.22.0 in /usr/local/lib/python3.10/dist-packages (from poetry) (20.24.3)
Requirement already satisfied: msgpack>=0.5.2 in /usr/local/lib/python3.10/dist-packages (from cachecontrol[filecache]<0.13.0,>=0.12.9->poetry) (1.0.5)
Requirement already satisfied: rapidfuzz<3.0.0,>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from cleo<3.0.0,>=2.0.0->poetry) (2.15.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from html5lib<2.0,>=1.0->poetry) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from html5lib<2.0,>=1.0->poetry) (0.5.1)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema<5.0.0,>=4.10.0->poetry) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.10/dist-packages (from jsonschema<5.0.0,>=4.10.0->poetry) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.10/dist-packages (from jsonschema<5.0.0,>=4.10.0->poetry) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from jsonschema<5.0.0,>=4.10.0->poetry) (0.9.2)
Requirement already satisfied: jaraco.classes in /usr/local/lib/python3.10/dist-packages (from keyring<24.0.0,>=23.9.0->poetry) (3.3.0)
Requirement already satisfied: importlib-metadata>=4.11.4 in /usr/local/lib/python3.10/dist-packages (from keyring<24.0.0,>=23.9.0->poetry) (6.8.0)
Requirement already satisfied: SecretStorage>=3.2 in /usr/lib/python3/dist-packages (from keyring<24.0.0,>=23.9.0->poetry) (3.3.1)
Requirement already satisfied: jeepney>=0.4.2 in /usr/lib/python3/dist-packages (from keyring<24.0.0,>=23.9.0->poetry) (0.7.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect<5.0.0,>=4.7.0->poetry) (0.7.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.18->poetry) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.18->poetry) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.18->poetry) (2023.7.22)
Requirement already satisfied: distlib<1,>=0.3.7 in /usr/local/lib/python3.10/dist-packages (from virtualenv<21.0.0,>=20.22.0->poetry) (0.3.7)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata>=4.11.4->keyring<24.0.0,>=23.9.0->poetry) (3.16.2)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.10/dist-packages (from jaraco.classes->keyring<24.0.0,>=23.9.0->poetry) (10.1.0)

create virtual environment

In [207]:
!pip install numpy pandas matplotlib

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.23.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (3.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (4.42.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (3.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

Installing and starting Jupiter lab

In [208]:
!poetry add jupyterlab
!poetry install
!poetry run jupyter lab

Poetry could not find a pyproject.toml file in /content or its parents

Poetry could not find a pyproject.toml file in /content or its parents

Poetry could not find a pyproject.toml file in /content or its parents

In [209]:
!jupyter lab

usage: jupyter
       [-h]
       [--version]
       [--config-dir]
       [--data-dir]
       [--runtime-dir]
       [--paths]
       [--json]
       [--debug]
       [subcommand]

Jupyter:
Interactive
Computing

positional arguments:
  subcommand
    the
    subcommand
    to launch

options:
  -h, --help
    show this
    help
    message and
    exit
  --version
    show the
    versions of
    core
    jupyter
    packages
    and exit
  --config-dir
    show
    Jupyter
    config dir
  --data-dir
    show
    Jupyter
    data dir
  --runtime-dir
    show
    Jupyter
    runtime dir
  --paths
    show all
    Jupyter
    paths. Add
    --json for
    machine-
    readable
    format.
  --json
    output
    paths as
    machine-
    readable
    json
  --debug
    output
    debug
    information
    about paths

Available s
ubcommands:
bundlerexte
nsion
console
dejavu
execute
kernel
kernelspec
migrate
nbclassic
nbconvert
nbextension
notebook
run server
serverexten
sion troubl
eshoot
trust

Jupyter command `jupyter-lab` not found.


## 2. Load and Explore Dataset

 Launch magic commands to automatically reload modules

In [210]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

Import the pandas and numpy package

In [211]:
# Solution
import pandas as pd
import numpy as np
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score

Load the dataset into dataframe called df

In [212]:
#Solution:
df = pd.read_csv('/content/train.csv')
train_data = pd.read_csv("/content/train.csv", low_memory=False)
test_data = pd.read_csv("/content/test.csv")

<ipython-input-212-9d0a0a13c0f7>:2: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/train.csv')

In [213]:
# Solution
df.head()

,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,...,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,player_id,drafted
0,South Alabama,SB,26,29.5,97.3,16.6,42.5,44.43,1.6,4.6,...,-1.941150,0.1923,0.6154,0.8077,1.1923,0.3462,0.0385,3.8846,7be2aead-da4e-4d13-a74b-4c1e692e2368,0.0
1,Utah St.,WAC,34,60.9,108.3,14.9,52.4,54.48,3.8,6.3,...,-0.247934,0.6765,1.2647,1.9412,1.8235,0.4118,0.2353,5.9412,61de55d9-1582-4ea4-b593-44f6aa6524a6,0.0
2,South Florida,BE,27,72.0,96.2,21.8,45.7,47.98,2.1,8.0,...,-0.883163,0.6296,2.3333,2.9630,1.9630,0.4815,0.0000,12.1852,efdc4cfc-9dd0-4bf8-acef-7273e4d5b655,0.0
3,Pepperdine,WCC,30,44.5,97.7,16.0,53.6,53.69,4.1,9.4,...,-0.393459,0.7000,1.4333,2.1333,1.1000,0.5667,0.1333,4.9333,14f05660-bb3c-4868-b3dd-09bcdb64279d,0.0
4,Pacific,BW,33,56.2,96.5,22.0,52.8,54.31,8.3,18.6,...,-0.668318,1.4242,3.3030,4.7273,0.8485,0.4545,0.3333,7.5758,a58db52f-fbba-4e7b-83d0-371efcfed039,0.0

 Display the dimensions (shape) of df

In [214]:
# Solution
df.shape

(56091, 64)

Display the summary (info) of df

In [215]:
# Solution
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56091 entries, 0 to 56090
Data columns (total 64 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   team                 56091 non-null  object
 1   conf                 56091 non-null  object
 2   GP                   56091 non-null  int64
 3   Min_per              56091 non-null  float64
 4   Ortg                 56091 non-null  float64
 5   usg                  56091 non-null  float64
 6   eFG                  56091 non-null  float64
 7   TS_per               56091 non-null  float64
 8   ORB_per              56091 non-null  float64
 9   DRB_per              56091 non-null  float64
 10  AST_per              56091 non-null  float64
 11  TO_per               56091 non-null  float64
 12  FTM                  56091 non-null  int64
 13  FTA                  56091 non-null  int64
 14  FT_per               56091 non-null  float64
 15  twoPM                56091 non-null  int64
 16  twoPA                56091 non-null  int64
 17  twoP_per             56091 non-null  float64
 18  TPM                  56091 non-null  int64
 19  TPA                  56091 non-null  int64
 20  TP_per               56091 non-null  float64
 21  blk_per              56091 non-null  float64
 22  stl_per              56091 non-null  float64
 23  ftr                  56091 non-null  float64
 24  yr                   55817 non-null  object
 25  ht                   56011 non-null  object
 26  num                  51422 non-null  object
 27  porpag               56091 non-null  float64
 28  adjoe                56091 non-null  float64
 29  pfr                  56091 non-null  float64
 30  year                 56091 non-null  int64
 31  type                 56091 non-null  object
 32  Rec_Rank             17036 non-null  float64
 33  ast_tov              51901 non-null  float64
 34  rimmade              50010 non-null  float64
 35  rimmade_rimmiss      50010 non-null  float64
 36  midmade              50010 non-null  float64
 37  midmade_midmiss      50010 non-null  float64
 38  rim_ratio            46627 non-null  float64
 39  mid_ratio            46403 non-null  float64
 40  dunksmade            50010 non-null  float64
 41  dunksmiss_dunksmade  50010 non-null  float64
 42  dunks_ratio          25298 non-null  float64
 43  pick                 1386 non-null   float64
 44  drtg                 56047 non-null  float64
 45  adrtg                56047 non-null  float64
 46  dporpag              56047 non-null  float64
 47  stops                56047 non-null  float64
 48  bpm                  56047 non-null  float64
 49  obpm                 56047 non-null  float64
 50  dbpm                 56047 non-null  float64
 51  gbpm                 56047 non-null  float64
 52  mp                   56053 non-null  float64
 53  ogbpm                56047 non-null  float64
 54  dgbpm                56047 non-null  float64
 55  oreb                 56053 non-null  float64
 56  dreb                 56053 non-null  float64
 57  treb                 56053 non-null  float64
 58  ast                  56053 non-null  float64
 59  stl                  56053 non-null  float64
 60  blk                  56053 non-null  float64
 61  pts                  56053 non-null  float64
 62  player_id            56091 non-null  object
 63  drafted              56091 non-null  float64
dtypes: float64(49), int64(8), object(7)
memory usage: 27.4+ MB

Display the descriptive statistics of df

In [216]:
# Solution
df.describe(include='all')

,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,...,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,player_id,drafted
count,56091,56091,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,...,56047.000000,56053.000000,56053.000000,56053.000000,56053.000000,56053.000000,56053.000000,56053.000000,56091,56091.000000
unique,358,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23929,NaN
top,Army,ACC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06dc8dc2-888e-4941-9106-4798cddfb9d2,NaN
freq,209,2297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
mean,NaN,NaN,23.411973,37.325229,91.858295,18.149265,44.575513,47.676882,5.575376,12.673716,...,-0.442297,0.770611,1.892593,2.663204,1.073038,0.529475,0.282825,5.775381,NaN,0.009556
std,NaN,NaN,10.090542,28.061897,30.538819,6.204489,18.213813,17.414133,9.480239,10.878099,...,3.279438,0.738899,1.479148,2.099913,1.171148,0.469152,0.417754,4.953723,NaN,0.097287
min,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-100.984000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000
25%,NaN,NaN,16.000000,9.500000,84.100000,14.500000,40.100000,43.930000,1.800000,8.400000,...,-1.728030,0.225800,0.700000,1.000000,0.222200,0.160000,0.000000,1.571400,NaN,0.000000
50%,NaN,NaN,28.000000,35.900000,97.100000,18.100000,47.700000,50.850000,4.300000,11.900000,...,-0.313051,0.545500,1.633300,2.259300,0.677400,0.424200,0.133300,4.482800,NaN,0.000000
75%,NaN,NaN,31.000000,62.200000,106.900000,21.800000,53.200000,56.060000,8.100000,16.000000,...,1.066415,1.111100,2.758600,3.833300,1.533300,0.793100,0.366700,9.069000,NaN,0.000000
max,NaN,NaN,41.000000,98.000000,834.000000,50.000000,150.000000,150.000000,1576.600000,1385.000000,...,78.985500,5.933300,11.545500,14.533300,10.000000,4.000000,5.258100,30.090900,NaN,1.000000

## 3. Prepare Data

In [217]:
import pandas as pd
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import StandardScaler, OneHotEncoder
ohe = OneHotEncoder(sparse_output=False, drop='first')
from joblib import dump
scaler = StandardScaler()
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [218]:
X_train = train_data.drop(columns=['player_id', 'drafted'])
y_train = train_data['drafted']
X_test = test_data.drop(columns=['player_id'])

In [219]:
X = train_data.drop(['player_id', 'drafted'], axis=1)
y = train_data['drafted']

In [220]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [221]:
data = pd.read_csv('/content/train.csv')

<ipython-input-221-929c6520a22d>:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('/content/train.csv')

In [222]:
X = data.drop(['player_id', 'drafted'], axis=1)
y = data['drafted']

In [223]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [224]:
categorical_columns = ['team', 'conf', 'yr', 'ht']  # Replace with actual categorical columns

DATA CLEANING

In [225]:
for column in categorical_columns:
    print(column, X_train[column].unique())

team ['Middle Tennessee' 'Northern Arizona' 'Yale' 'Virginia Tech' 'Oregon'
 'Syracuse' 'Florida St.' 'Illinois' 'Louisville' 'West Virginia' 'Lehigh'
 'Washington St.' 'Seton Hall' 'St. Francis NY' 'Western Michigan'
 'Houston' 'Northern Illinois' 'Weber St.' 'Duquesne' 'SIU Edwardsville'
 'Wake Forest' 'Western Kentucky' 'Maine' 'High Point' 'Morgan St.'
 'Northwestern St.' 'Gonzaga' 'Rice' 'Alabama' 'Texas Tech' 'Savannah St.'
 'Campbell' 'Coppin St.' 'Oklahoma' 'USC' 'Mississippi Valley St.'
 'Longwood' 'Southeastern Louisiana' 'UC Davis' 'Tulane' 'Maryland'
 'Gardner Webb' 'Texas A&M' 'Utah St.' 'Wisconsin' 'Ohio'
 'Eastern Washington' 'Tulsa' 'Sam Houston St.' 'Rutgers' 'Pacific'
 'Tennessee' 'Georgia Southern' 'Bucknell' 'UCF' 'Texas' 'Boston College'
 'Florida Atlantic' 'Akron' 'Western Illinois' 'Kansas' 'Norfolk St.'
 'Western Carolina' 'Delaware' 'Xavier' 'TCU' 'Temple' 'Denver'
 'Northeastern' 'North Florida' 'Evansville' 'Charleston Southern'
 "Saint Peter's" 'The Citadel' 'Bethune Cookman' 'South Florida'
 'James Madison' 'North Carolina' 'Idaho' 'Morehead St.' 'Alabama St.'
 'Cincinnati' 'Stephen F. Austin' 'Saint Louis' 'Nicholls St.' 'Wagner'
 'Drexel' 'Mississippi' 'Howard' 'Iowa St.' 'Washington' 'Wofford'
 'East Carolina' "St. John's" 'New Mexico' 'Vermont' 'LIU Brooklyn'
 'UC Irvine' 'New Hampshire' "Mount St. Mary's" 'Buffalo' 'NJIT' 'Hofstra'
 'Chattanooga' 'Jackson St.' 'Central Michigan' 'Fort Wayne' 'IUPUI'
 'Stony Brook' 'UNC Asheville' 'Michigan St.' 'UC Riverside' 'Furman'
 'Miami OH' 'Cal St. Bakersfield' 'Richmond' 'UMBC' 'Old Dominion'
 'North Dakota St.' 'Louisiana Lafayette' 'Portland' 'Wyoming'
 'Central Connecticut' 'Monmouth' 'UT Arlington' 'Sacramento St.' 'Bryant'
 'Northwestern' 'Colgate' 'Nebraska' 'Army' 'South Carolina' 'UTSA'
 'Connecticut' 'Georgia Tech' 'Southern Miss' 'Montana' 'Nevada'
 'Oregon St.' 'Northern Iowa' 'Georgetown' 'Louisiana Tech' 'Alcorn St.'
 'North Carolina St.' 'Hartford' 'North Texas' 'Duke' 'Detroit' 'Marist'
 'Stetson' 'North Dakota' 'Florida Gulf Coast' 'Radford' 'Penn St.'
 'North Carolina A&T' 'USC Upstate' 'Purdue' 'Arizona' 'Bradley'
 'Lipscomb' 'Princeton' 'Eastern Illinois' 'UAB' 'UMKC' 'Troy'
 'UC Santa Barbara' 'Idaho St.' 'East Tennessee St.' 'Portland St.'
 'Central Arkansas' 'Louisiana Monroe' 'Mercer' 'Ohio St.' 'New Orleans'
 'Navy' 'FIU' 'Georgia St.' 'Wright St.' 'Iona' 'Siena' 'Belmont'
 'Quinnipiac' 'San Diego St.' 'Alabama A&M' 'Florida' 'Baylor' 'Missouri'
 'Manhattan' 'Austin Peay' 'UNC Wilmington' 'Lafayette' 'UNC Greensboro'
 'Indiana' 'Seattle' 'Fordham' 'Cornell' 'SMU' 'Lamar' 'Jacksonville'
 'Brown' 'George Mason' 'Tennessee Martin' 'Centenary' 'Air Force'
 'Green Bay' 'Pepperdine' 'Mississippi St.' 'Arkansas St.' 'Creighton'
 'Youngstown St.' 'Southern' 'Michigan' 'Boise St.' 'Ball St.' 'Towson'
 'Wichita St.' 'San Diego' 'Appalachian St.' 'Arkansas' 'Murray St.'
 'Kansas St.' 'Liberty' 'Marshall' 'Elon' 'South Carolina St.'
 'George Washington' 'Winthrop' 'South Dakota' 'Loyola Marymount' 'BYU'
 'William & Mary' 'Coastal Carolina' 'Canisius' 'Houston Baptist'
 'Sacred Heart' 'Cal St. Northridge' 'Virginia' 'Loyola Chicago' 'Niagara'
 'Harvard' 'Tennessee St.' 'Milwaukee' 'Robert Morris' 'Long Beach St.'
 'Northern Colorado' 'Prairie View A&M' 'Boston University' 'Loyola MD'
 'Providence' 'UCLA' 'Notre Dame' 'Dayton' 'Montana St.' 'Colorado'
 'South Alabama' 'Grambling St.' 'Santa Clara' 'Eastern Kentucky'
 'College of Charleston' 'Davidson' 'Hawaii' 'UNLV' 'Presbyterian' 'LSU'
 'Arkansas Pine Bluff' 'Kent St.' 'Fairfield' 'San Jose St.' 'VMI'
 'Oklahoma St.' 'Oral Roberts' 'Butler' 'Hampton' 'McNeese St.' 'Iowa'
 'UMass Lowell' 'Massachusetts' 'Rhode Island' 'Utah Valley'
 'Cal St. Fullerton' 'Missouri St.' 'Drake' 'Southeast Missouri St.'
 'Holy Cross' 'New Mexico St.' 'Columbia' 'IPFW' 'Fresno St.'
 'Nebraska Omaha' 'St. Francis PA' 'Charlotte' 'Cleveland St.' 'Toledo'
 'Memphis' 'UTEP' 'Eastern Michigan' 'Florida A&M' 'Abilene Christian'
 'Southern Utah' "Saint Joseph's" 'American' 'Fairleigh Dickinson'
 'DePaul' 'Illinois St.' 'California' 'Rider' 'UT Rio Grande Valley'
 'Penn' 'St. Bonaventure' 'San Francisco' "Saint Mary's"
 'Southern Illinois' 'Stanford' 'Texas St.' 'Auburn' 'Marquette'
 'Chicago St.' 'Oakland' 'Miami FL' 'Bowling Green' 'Grand Canyon'
 'Albany' 'Illinois Chicago' 'Arkansas Little Rock' 'Utah' 'La Salle'
 'Clemson' 'Kentucky' 'Indiana St.' 'Texas Southern' 'Delaware St.'
 'Villanova' 'Arizona St.' 'Merrimack' 'South Dakota St.' 'Samford'
 'Cal Poly' 'Tennessee Tech' 'Jacksonville St.' 'Minnesota' 'Dartmouth'
 'Northern Kentucky' 'Texas A&M Corpus Chris' 'Pittsburgh' 'Kennesaw St.'
 'North Carolina Central' 'Valparaiso' 'Georgia' 'Binghamton'
 'Maryland Eastern Shore' 'Incarnate Word' 'Vanderbilt' 'Colorado St.'
 'North Alabama' 'VCU' 'Little Rock' 'Winston Salem St.' 'Cal Baptist']
conf ['SB' 'BSky' 'Ivy' 'ACC' 'P12' 'B10' 'BE' 'Pat' 'NEC' 'MAC' 'CUSA' 'A10'
 'OVC' 'AE' 'BSth' 'MEAC' 'Slnd' 'WCC' 'SEC' 'B12' 'SWAC' 'BW' 'Amer'
 'WAC' 'Sum' 'SC' 'CAA' 'ASun' 'MVC' 'MAAC' 'ind' 'MWC' 'GWC' 'P10' 'Horz'
 'Ind']
yr ['Sr' 'Fr' 'So' 'Jr' nan 'None' '0' '42.9']
ht ['2-Jun' '8-Jun' '4-Jun' '3-Jun' '10-May' '6-Jun' '1-Jun' '11-Jun'
 '10-Jun' 'Jun-00' '7-Jun' '9-May' '5-Jun' '11-May' 'Jul-00' '6-May'
 '9-Jun' '7-May' '2-Jul' '-' '8-May' '1-Jul' '4-May' 'Apr-00' '3-Jul' nan
 'None' '6-Jul' '5-Apr' '3-May' '0' '4-Jul' '5-May' '1-May' '5-Jul'
 '2-May' 'So' 'Jr' 'Fr' "6'4"]

In [226]:
X_train_encoded = pd.get_dummies(X_train, columns=categorical_columns)
X_test_encoded = pd.get_dummies(X_test, columns=categorical_columns)

In [227]:
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), X_train.columns.difference(categorical_columns)),
        ('cat', OneHotEncoder(), categorical_columns)
    ])

In [228]:
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [229]:
numeric_columns = ['column1', 'column2', ...]  # List of numeric column names

In [230]:
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numeric_columns)
    ],
    remainder='passthrough'  # Pass non-numeric columns through as-is
)

In [231]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

ValueError: ignored

In [ ]:

X_train_scaled = scaler.fit_transform(X_train_encoded)
X_test_scaled = scaler.transform(X_test_encoded)

In [ ]:
X_train_preprocessed = preprocessor.fit_transform(X_train)
X_test_preprocessed = preprocessor.transform(X_test)

In [ ]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

MODEL BUILDING

In [ ]:
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X_train_scaled, y_train)

In [ ]:
# Make predictions
predictions = model.predict_proba(X_test_scaled)[:, 1]

In [ ]:
# AUROC score
auroc_score = roc_auc_score(y_true, predictions)

In [ ]:
# Create submission file
submission = pd.DataFrame({'player_id': test_data['player_id'], 'drafted': predictions})
submission.to_csv('submission.csv', index=False)
#Remember to adjust the parameters of the model, perform feature selection, and fine-tune the hyperparameters as needed to achieve the best possible AUROC score on your test dataset.

## 6.   Push changes

 Add your changes to git staging area

In [ ]:
# Solution:
git add .

Create the snapshot of your repository and add a description

In [ ]:
# Solution:
git commit -m "prepare data and baseline"

 Push your snapshot to Github

In [ ]:
# Solution:
git push

 Stop Jupyter Lab